.card {
  border: 1px lightgray solid;
  padding-left: 0;
  padding-right: 0;
}

.card-image {
  text-align: center;
}

.darkred {
  color: white;
  background-color: darkred;
}

.lightgreen {
  color: white;
  background-color: darkgreen;
}

.card-text {
  
}
